/* Do not remove this comments bellow. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower

@mixin background-gradient($startColor: #3E825C, $endColor: #FFF) {
    background-color: $startColor;
    background-image:         linear-gradient(to bottom, $startColor, $endColor);

    // Since we are using autoprefixer these other variants are not required;

    // background-image: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
    // background-image: -webkit-linear-gradient(top, $startColor, $endColor);
    // background-image:    -moz-linear-gradient(top, $startColor, $endColor);
    // background-image:     -ms-linear-gradient(top, $startColor, $endColor);
    // background-image:      -o-linear-gradient(top, $startColor, $endColor);
    //filter:            progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$startColor}', endColorStr='#{$endColor}');
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}


.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  color: white;
  background-color: #5cb85c;
  border-color: #4cae4c;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

header{
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
  img{
    max-width: 100%
  }
}

.col {
  position: relative;
  padding: 15px;
  box-sizing: border-box;

  @include breakpoint(769px) {
    float: left;
    width: 33.33%;
  }

  @include background-gradient();
  &:first-child{
    @include background-gradient(#226396);
  }
  &:last-child{
    @include background-gradient(#77B7A3);
  }
  h2{
    margin:0;
  }
}

ol{
  padding-left: 20px;
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
